<a href="https://colab.research.google.com/github/Gagansherigar/MLAlgosrfromScratch/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
for i in range(5):
  for j in range(5):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [30]:
for i in range(5):
  for j in range(i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [29]:
for row in range(5):
  for col in range(5-i):
    print(end=" ")

 *
 *
 *
 *
 *

In [31]:
for i in range(5):
  for j in range(5-i):
    print("*",end="")
  print()

*****
****
***
**
*

In [33]:
for i in range(5):
  for j in range(i,5):
    print(' ',end="")
  for j in range(i+1):
    print("*",end="")

  print()

     *
    **
   ***
  ****
 *****

In [50]:
n=5

for i in range(n):
  for j in range(i,n):
    print(" ",end="")

  for j in range(i+1):
    print("*",end="")

  for j in range(i):
    print("*",end="")





  print()

     *
    ***
   *****
  *******
 *********

In [76]:
for i in  range(n):
  for space in range(i):
    print(" ",end="")
  for j in range(n-i):
    print("*",end="")

  for j in range(n-i-1):
    print("*",end="")



  print()

*********
 ******
  ***
   *

In [101]:
n=6
for i in range (n):
  for space in range(0,i+1):
    print(" ",end="")
  for j in range(i,n):
    print("*",end="")
  for j in range(i,n-1):
    print("*",end="")




  print()

 ***********
  *********
   *******
    *****
     ***
      *

In [100]:
for i in range (n-1):
  for j in range(i,n):
    print(" ",end="")

  for j in range(i+1):
    print("*",end="")

  for j in range(i):
    print("*",end="")


  print()
for i in range (n):
  for space in range(i+1):
    print(" ",end="")
  for j in range(i,n):
    print("*",end="")
  for j in range(i,n-1):
    print("*",end="")
  print()

      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

In [1]:
 n=5
 for i in range(n):
  for col in range(i):
    print("*",end="")


  print()

*
**
***
****

In [50]:
for i in range(n):
  for col in range(i+1):
    print(" ",end="")
  for col in range (n-i-1):
    print("*",end="")
  for col in range(n-i-1):
    print("*",end="")
  print()
for i in range(n):
  for col in range(i,n):
    print(" ",end="")
  for col in range (i+1):
    print("*",end="")
  for col in range(i):
    print("*",end="")
  print()

 ********
  ******
   ****
    **

     *
    ***
   *****
  *******
 *********

In [51]:
n = 5  # size

# Upper half
for i in range(n):
    print(" " * (i+1) + "*" * (2*(n-i-1)))

# Lower half
for i in range(n):
    print(" " * (n-i) + "*" * (2*i+1))

 ********
  ******
   ****
    **

     *
    ***
   *****
  *******
 *********

In [52]:
n = 5  # size

# Upper half
for i in range(n):
    print(" " * i + "*" * (2*(n-i)-1))

# Lower half
for i in range(1, n):
    print(" " * (n-i-1) + "*" * (2*i+1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [53]:
for i in range(n):
  for col in range(i+1):  # <-- this extra +1 causes 1 more space
    print(" ",end="")
  for col in range (n-i-1):
    print("*",end="")
  for col in range(n-i-1):
    print("*",end="")
  print()

for i in range(n):
  for col in range(i,n):
    print(" ",end="")
  for col in range (i+1):
    print("*",end="")
  for col in range(i):
    print("*",end="")
  print()

 ********
  ******
   ****
    **

     *
    ***
   *****
  *******
 *********

In [ ]:
res=[[1]]
for i in range(1,nums):
  row=[1]
  prev=[-1]
  for j in range(1,i):
    row.append(nums[j]+nums[j-1])
  row.append(1)
  res.append(row)

In [4]:
list=[1,2,3,4,5]
for number in list:
  sum=number+1
  print(sum)

2
3
4
5
6

In [24]:

n=4
for i in range(n):
  for j in range(n):
    if i == 0 or i == n-1 or j == 0 or j == n-1:
        print("*", end=" ")
    else:
        print(" ", end=" ")





  print()

* * * *
*     *
*     *
* * * *